In [3]:
#importing libraries
from sklearn.datasets import load_boston
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
ng_price = pd.read_csv("datasets/NaturalGasPrice.csv")
co_price = pd.read_csv("datasets/CrudeOilPrice.csv")
ho_price = pd.read_csv("datasets/HeatingOilPrice.csv")
ng_production = pd.read_csv("datasets/NGProduction.csv")
ng_consumption = pd.read_csv("datasets/NGConsumption.csv")

In [8]:
ng_price.head()

         Date   High   Low  Open  Close   Volume  Adj Close
0  2000-08-30  4.815  4.63  4.65  4.805  34954.0      4.805
1  2000-08-31  4.870  4.74  4.82  4.780  25787.0      4.780
2  2000-09-01  4.860  4.75  4.75  4.835    113.0      4.835
3  2000-09-05  4.975  4.84  4.85  4.960  26096.0      4.960
4  2000-09-06  5.110  4.96  4.99  5.065  32764.0      5.065